.git
.gitignore
.idea
.env.dist
.env.prod
.github
venv
Dockerfile
tox.ini
docker-compose.yml
docker-compose.dev.yml
requirements.dev.txt
README.md

**/.coveragerc
**/.coverage
**/conftest.py
**/pytest.ini
**/__pycache__
**/htmlcov
**/tests
